version: '3.5'

services:
  dockerproxy:
    image: tecnativa/docker-socket-proxy
    container_name: dockerproxy
    ports:
      - 2375
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      CONTAINERS: 1
      IMAGES: 1
    networks:
      - internal
    restart: unless-stopped
  traefik:
    image: "traefik:v2.10"
    container_name: "traefik"
    user: 1000:1000
    command:
      - "--providers.docker=true"
      - "--entrypoints.web.address=:8080"
      - "--entrypoints.websecure.address=:8443"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=internal"
      - "--providers.docker.endpoint=tcp://dockerproxy:2375"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=${acme_email}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      #- "--log.level=DEBUG"
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - "/home/ubuntu/letsencrypt:/letsencrypt"
    networks:
      - default
      - internal
    depends_on:
      - dockerproxy
    restart: unless-stopped
  bitwarden:
    image: "vaultwarden/server"
    container_name: "bitwarden"
    user: 1000:1000
    volumes:
      - "/home/ubuntu/bitwarden:/data"
    networks:
      - default
    environment:
      ROCKET_PORT: "8080"
      WEBSOCKET_ENABLED: "true"
      SIGNUPS_ALLOWED: "${signups_allowed}"
      ADMIN_TOKEN: "${admin_token}"
      DOMAIN: "https://${domain}"
      LOG_FILE: "/data/bitwarden.log"
      SMTP_HOST: "${smtp_host}"
      SMTP_PORT: "${smtp_port}"
      SMTP_SECURITY: "${smtp_security}"
      SMTP_FROM: "bitwarden@${domain}"
      SMTP_USERNAME: "${smtp_username}"
      SMTP_PASSWORD: "${smtp_password}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.redirect-https.redirectScheme.scheme=https"
      - "traefik.http.middlewares.redirect-https.redirectScheme.permanent=true"
      - "traefik.http.routers.bitwarden-ui-https.rule=Host(`${domain}`)"
      - "traefik.http.routers.bitwarden-ui-https.entrypoints=websecure"
      - "traefik.http.routers.bitwarden-ui-https.tls.certresolver=myresolver"
      - "traefik.http.routers.bitwarden-ui-https.tls=true"
      - "traefik.http.routers.bitwarden-ui-https.service=bitwarden-ui"
      - "traefik.http.routers.bitwarden-ui-http.rule=Host(`${domain}`)"
      - "traefik.http.routers.bitwarden-ui-http.entrypoints=web"
      - "traefik.http.routers.bitwarden-ui-http.middlewares=redirect-https"
      - "traefik.http.routers.bitwarden-ui-http.service=bitwarden-ui"
      - "traefik.http.services.bitwarden-ui.loadbalancer.server.port=8080"
    depends_on:
      - traefik
    restart: unless-stopped
  diun:
    image: crazymax/diun
    container_name: diun
    user: 1000:1000
    volumes:
      - "/home/ubuntu/diun:/data"
    networks:
      - default
      - internal
    environment:
      LOG_LEVEL: "info"
      DIUN_PROVIDERS_DOCKER: "true"
      DIUN_PROVIDERS_DOCKER_ENDPOINT: "tcp://dockerproxy:2375"
      DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT: "true"
    env_file:
      - ".env"
    depends_on:
      - dockerproxy
      - traefik
      - bitwarden
    restart: unless-stopped
networks:
  default:
    name: public
    driver: bridge
  internal:
    name: private
    internal: true

